html, body, #container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    padding-top: 50px;
}

#mapid {
    width: auto;
    height: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#sidebar {
    display: block;
    width: 250px;
    height: 100%;
    max-width: 100%;
    float: left;
}

.sidebar-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

#sidebar-hide-btn {
    margin-top: -2px;
}

#sidebar-deleteMarkers-btn {
    margin-top: -2px;
}

#sidebar-import-btn {
    margin-top: -2px;
}

.sidebar-table {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.table {
    margin-bottom: 0px;
}

.feature-row {
    cursor: pointer;
    width: 250px;

    /* Texte  non sélectionable */
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
}

/* Surcharge padding tabble-condensed*/
#feature-list > tbody > tr > td {
    padding-left: 15px;
    padding-right: 15px;
    border-top: none;
}

.btn-marker-col {
    width: 1px;
    white-space: nowrap;
}

/*Bootstrap button outline override*/
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}
