html, body, #container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  padding-top: 50px;
}

#mapid {
      width: auto;
      height: 100%;
      box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#sidebar {
  display: block;
  width: 250px;
  height: 100%;
  max-width: 100%;
  float: left;
}

#sidebar-hide-btn {
  margin-top: -2px;
}

.sidebar-table {
  position: absolute;
  width: 100%;
  top: 103px;
  bottom: 0px;
  overflow: auto;
}

.table {
    margin-bottom: 0px;
}
