html, body {
    height: 100%;
    width: 100%;
}

#container {
    height: 100%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

body {
    padding-top: 75px;
}

tr[class~=hover], tbody > tr:hover {
    background-color: #8080804d !important;
};

span[class~=hover], span:hover {
    background-color: #8080804d !important;
};
